ol,
ul {
    list-style: none;
}

form {
    max-width: 600px;
}

a:hover {
    text-decoration: none;
}

.small-name {
    font-size: 0.75em;
    color: #a9a9a9;
    font-style: italic;
}

.user-data {
    margin-bottom: 14px;
}

#gh-username {
    width: 50%;
    margin-left: 25%;
}

.gh-content {
    color: #a9a9a9;
    text-align: center;
}

.gh-avatar {
    padding: 10px 0;
}

#gh-user-data {
    margin-top: 15px;
}

#gh-user-data h5 {
    font-size: 2em;
    text-align: center;
}

#gh-user-data img {
    width: 48%;
    margin-left: 26%;
}

#gh-user-data img#avatar-img {
    width: 100px;
    height: 100px;
    margin-left: unset;
}

.gh-alert {
    color: #f00;
}

#gh-user-data.gh-alert h5 {
    font-size: 1.75em;;
}

.repo-list {
    display: block;
    width: 100%;
    clear: both;
}

.repo-list ul li {
    display: block;
    font-family: "Courier New", Courier, "Lucida Typewriter", monospace;
}

.repo-list ul li a {
    font-weight: bold;
    padding: 6px 9px;
    display: block;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    border: 1px solid #356492;
    border-radius: 3px;
    color: #fff;
    background-color: #3673af;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5597d8), to(#3673af));
    background-image: -webkit-linear-gradient(top, #5597d8, #3673af);
    background-image: -moz-linear-gradient(top, #5597d8, #3673af);
    background-image: -ms-linear-gradient(top, #5597d8, #3673af);
    background-image: -o-linear-gradient(top, #5597d8, #3673af);
    background-image: linear-gradient(top, #5597d8, #3673af);
}

.repo-list ul li a:hover {
    background-color: #396895;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4b87c2), to(#396895));
    background-image: -webkit-linear-gradient(top, #4b87c2, #396895);
    background-image: -moz-linear-gradient(top, #4b87c2, #396895);
    background-image: -ms-linear-gradient(top, #4b87c2, #396895);
    background-image: -o-linear-gradient(top, #4b87c2, #396895);
    background-image: linear-gradient(top, #4b87c2, #396895);
}

.repo-list ul li a:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.25);
}

.repo-heading {
    font-size: 18px;
}